
<div class="alert alert-success" *ngIf="success" jhiTranslate="media.file.upload.success">
    <strong>Upload file successfully</strong>
</div>

<div class="alert alert-danger" *ngIf="error" jhiTranslate="media.file.upload.error">
    <strong>An error has occurred!</strong> Upload fail.
</div>
<form name="mediaForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="mediaForm" enctype="multipart/form-data">
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="media.file.upload.text" for="field_image">Image</label>
        <div class="gallery-components">
            <input type="file" class="form-control" name="file" id="field_image"
                   (change)="onFileImageChange($event)"/>
            <button id="saveFile" type="submit" jhiTranslate="media.button.text">Add</button>
        </div>

    </div>
</form>
<div class="gallery">
    <table>
        <tr *ngFor="let file of media">
            <td><img src="{{file.filePath}}" class="gallery-box"><span>{{file.fileName}}</span></td>
            <td width="10%"><a href="#">Delete</a></td>
        </tr>
    </table>
</div>
